<%- include header %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <%= title %>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSubAdmin">Create New
                    Sub Admin</button>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="usersTab" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Username</th>
                                    <th>User Role</th>
                                    <th>Total Agents</th>
                                    <th>Main Wallet</th>
                                    <th>Commission Wallet</th>
                                    <th>Join Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (d of data.list) {%>
                                <tr class="gradeX">
                                    
                                    <td><%= d.name %></td>
                                    <td><%= d.username %></td>
                                    <td><small class="label bg-blue">Sub-admin</small></td>
                                    <td><%= d.total_agent%></td>
                                    <td><%= d.main_wallet %></td>
                                    <td><%= d.commission_wallet %></td>
                                    <td class="time_formateDateandTime2"><%= d.created_at%></td>
                                    <td class="actions text-center">
                                        <a href="<%=host%>/sub-admin/profile/<%=d.id%>" class="on-editing save-row"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                                <% }%>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<div id="addSubAdmin" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Sub Admin</h4>
            </div>
            <div class="modal-body">
                <form method="POST" name="frmSubAdmin" id="frmSubAdmin">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" data-validation="required">
                    </div>
                    <div class="form-group">
                        <label for="name">Username <small>(Must be unique)</small></label>
                        <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Enter username" data-validation="alphanumeric required" data-validation-allowing="-_">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="mobile_number">Mobile Number</label>
                        <input type="text" class="form-control" id="mobile_number" name="mobile_number" placeholder="Enter mobile number">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" data-validation="required">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<%- include footer %>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
    $(document).ready(function (e) {
        $.validate({
            modules: 'html5, security'
        });

        $('.time_formateDateandTime2').each(function() {
            let dat = formateDateandTime(parseInt($(this).text()));
            $(this).text(dat);
        });
        function formateDateandTime(date) {
        // 7/12/2018 12:25PM

        if (!isNaN(date)) console.log('DATA', date);
        var dat = new Date(parseInt(date));
        console.log('DATA After', dat);
        var mon = dat.getMonth() + 1 > 9 ? dat.getMonth() + 1 : '0' + parseInt(dat.getMonth() + parseInt(1));

        var hours = dat.getHours() % 12;
        hours = hours > 9 ? hours : '0' + hours;

        var minutes = dat.getMinutes();
        minutes = minutes > 9 ? minutes : '0' + minutes;

        var ap = dat.getHours() >= 12 ? 'PM' : 'AM';
        var day = dat.getDate() > 9 ? dat.getDate() : '0' + dat.getDate();

        rez = day + '/' + mon + '/' + dat.getFullYear() + ' ' + hours + ':' + minutes + ap;

        return rez;
    }
        $('#usersTab').DataTable({});


        $('#frmSubAdmin').on('submit', function (e) {
            e.preventDefault();
            var formdata = new FormData(this);
            $.ajax({
                method: 'post',
                url: '/sub-admin/add',
                data: formdata,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.status == 1) {
                        console.log(response);
                        swal({
                            icon: 'success',
                            title: response.message
                        }).then(function () {
                            window.location.reload();
                        });
                    } else {
                        console.log(response);
                        swal({
                            icon: 'error',
                            title: response.message,
                        });
                    }
                }
            });
        });


    });
</script>